# Pandas 数据处理入门

**注：**  拿到一个新软件包，如何入手学习呢？
1. 这个软件包的核心数据结构是什么？
1. 这个软件包的核心算法是什么？

Pandas 是建立在 Numpy 基础之上建立的新程序库，核心提供了一种高效的 DataFrame 数据结构。

## Pandas 中的对象简介

In [2]:
import numpy as np
import pandas as pd

*  `pd.Series` 对象
*  `pd.DataFrame` 对象
*  `pd.Index` 对象

## Series 对象

Series 对象是一个**带索引数据**构成的**一维数组**, 它除了存储数据外，还**显式**地把**索引**也存储下来！

Numpy 数据用的是**隐式**的索引！

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

Series 对象有两个基本属性 

* `values`
* `index`

In [3]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

 用户可以用与 Numpy 数组类似的索引方式索引

In [5]:
data[0]

0.25

In [6]:
data[0:2]

0    0.25
1    0.50
dtype: float64

**思考：** Series 把索引也保存下来，不是多此一举吗？

1) Series 是通用的 Numpy 一维数组， 但比 Numpy 更加灵活。

2) Series 是一种特殊的 Python 字典， 但比 Python 字典更加高效。

###  Series 是通用的 Numpy 一维数组， 但比 Numpy 更加灵活

In [7]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
data['a']
data['b']

0.5

In [9]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

### Series 是一种特殊的 Python 字典， 但比 Python 字典更加高效

In [10]:
population_dict = {'Beijing': 38332521,
                   'Henan': 26448193,
                   'Hunan': 19651127,
                   'Guangdong': 19552860}
population = pd.Series(population_dict)
population

Beijing      38332521
Henan        26448193
Hunan        19651127
Guangdong    19552860
dtype: int64

In [11]:
population['Beijing']

38332521

In [12]:
population['Beijing':'Guangdong']

Beijing      38332521
Henan        26448193
Hunan        19651127
Guangdong    19552860
dtype: int64

3) Series 对象的创建

In [13]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [14]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [15]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

用 `index` 参数来筛选字典中的键值对，即选择字典中的一部分元素来构建 Series 对象 。

In [16]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

### Series 数据的选择方法

In [17]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

**1) 将 Series 看作字典**

In [18]:
data['b']

0.5

In [19]:
'a' in data

True

In [20]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [21]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [22]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

**2) 将 Series 看作一维数组**

In [23]:
data['a':'c'] # 显式索引做为切片

a    0.25
b    0.50
c    0.75
dtype: float64

In [24]:
data[0:2] # 隐式索引做为切片

a    0.25
b    0.50
dtype: float64

In [25]:
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [26]:
data[(data > 0.3) & (data <= 0.5)] # 布尔索引(或者叫掩码)

b    0.5
dtype: float64

In [27]:
data[['a', 'e']] # 花哨索引(francy indexing)

a    0.25
e    1.25
dtype: float64

**注意：**

1. 什么是显式索引？
1. 什么是隐式索引？
1. 什么情况下会出现混乱? 用**整数形式**的**显式索引**的时候！

In [28]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [29]:
data[1] # 显式索引

'a'

In [30]:
data[1:3] # 隐式索引

3    b
5    c
dtype: object

**3) 索引器**

Series 有三个**索引器**属性来解决上面的混乱。

* Series.loc， 表示取值和切片都是显式的

In [31]:
data

1    a
3    b
5    c
dtype: object

In [32]:
data.loc[1]

'a'

In [33]:
data.loc[1:3]

1    a
3    b
dtype: object

* Series.iloc， 表示取值和切片都是 Python 形式的隐式索引，即从 0 开始， 左闭右开区间!

In [34]:
data

1    a
3    b
5    c
dtype: object

In [35]:
data.iloc[1]

'b'

In [36]:
data.iloc[1:3]

3    b
5    c
dtype: object

* Series.ix，混合索引形式， 特价于中括号索引 `data[]`。

## DataFrame 对象

DataFrame 对象是 Pandas 另一个基础的数据结构。

### 一个通用的 Numpy 二维数组，但比 Numpy 数组更加灵活，带有灵活的**行索引**，又有**列名**。

In [3]:
area_dict = {'Beijing': 16410.54,
             'Henan':167000, 
             'Hunan':211800, 
             'Guangdong':179770} # 平方千米
area = pd.Series(area_dict)
area

Beijing       16410.54
Henan        167000.00
Hunan        211800.00
Guangdong    179770.00
dtype: float64

In [4]:
gdp_dict = {'Beijing': 3.03,
            'Henan':4.8, 
            'Hunan':3.64, 
            'Guangdong':9.73} # 万亿元
gdp = pd.Series(gdp_dict)
gdp

Beijing      3.03
Henan        4.80
Hunan        3.64
Guangdong    9.73
dtype: float64

In [5]:
data = pd.DataFrame({"GDP":gdp, "area":area})
data

            GDP       area
Beijing    3.03   16410.54
Henan      4.80  167000.00
Hunan      3.64  211800.00
Guangdong  9.73  179770.00

**属性：**
1. `index`: 存储行标签
1. `columns`: 存储列标签

In [40]:
data.values

array([[3.030000e+00, 1.641054e+04],
       [4.800000e+00, 1.670000e+05],
       [3.640000e+00, 2.118000e+05],
       [9.730000e+00, 1.797700e+05]])

In [41]:
data.index

Index(['Beijing', 'Henan', 'Hunan', 'Guangdong'], dtype='object')

In [42]:
data.columns

Index(['GDP', 'area'], dtype='object')

### 它是一个特殊的 Python 字典, 但比 Python 字典更加高效

In [7]:
data['area']['Beijing']

16410.54

In [44]:
data['GDP']

Beijing      3.03
Henan        4.80
Hunan        3.64
Guangdong    9.73
Name: GDP, dtype: float64

### DataFrame 对象的创建

(1) 通过单个 Series 对象创建

In [45]:
pd.DataFrame(area, columns=['area'])

                area
Beijing     16410.54
Henan      167000.00
Hunan      211800.00
Guangdong  179770.00

(2) 通过字典列表创建

In [46]:
data = [{'a': i, 'b': 2*i} for i in range(3)]
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [47]:
pd.DataFrame(data, index=['A', 'B', 'C'])

   a  b
A  0  0
B  1  2
C  2  4

(3) 通过 Series 对象字典创建

In [48]:
pd.DataFrame({'GDP': gdp, 'area': area})

            GDP       area
Beijing    3.03   16410.54
Henan      4.80  167000.00
Hunan      3.64  211800.00
Guangdong  9.73  179770.00

(3) 通过 Numpy 二维数组创建

In [49]:
pd.DataFrame(np.random.rand(3, 2), 
             columns=['foo', 'bar'], 
             index=['a', 'b', 'c'])

        foo       bar
a  0.405863  0.576527
b  0.925586  0.104607
c  0.497548  0.281248

### DataFrame 对象的数据选择方法

(1) 将 DataFrame 看作字典

In [50]:
area = pd.Series( {'Beijing': 16410.54,
                   'Henan':167000, 
                   'Hunan':211800, 
                   'Guangdong':179770})# 平方千米
area

Beijing       16410.54
Henan        167000.00
Hunan        211800.00
Guangdong    179770.00
dtype: float64

In [51]:
gdp = pd.Series({'Beijing': 3.03, 
                 'Henan':4.8,
                 'Hunan':3.64, 
                 'Guangdong':9.73})# 万亿元
gdp

Beijing      3.03
Henan        4.80
Hunan        3.64
Guangdong    9.73
dtype: float64

In [52]:
data = pd.DataFrame({'area':area, 'GDP':gdp})
data

                area   GDP
Beijing     16410.54  3.03
Henan      167000.00  4.80
Hunan      211800.00  3.64
Guangdong  179770.00  9.73

In [53]:
data['density'] = data['GDP']/data['area']
data

                area   GDP   density
Beijing     16410.54  3.03  0.000185
Henan      167000.00  4.80  0.000029
Hunan      211800.00  3.64  0.000017
Guangdong  179770.00  9.73  0.000054

(2) 将 DataFrame 看作二维数组

In [54]:
data.values

array([[1.64105400e+04, 3.03000000e+00, 1.84637434e-04],
       [1.67000000e+05, 4.80000000e+00, 2.87425150e-05],
       [2.11800000e+05, 3.64000000e+00, 1.71860246e-05],
       [1.79770000e+05, 9.73000000e+00, 5.41247149e-05]])

In [55]:
data.T

              Beijing          Henan          Hunan      Guangdong
area     16410.540000  167000.000000  211800.000000  179770.000000
GDP          3.030000       4.800000       3.640000       9.730000
density      0.000185       0.000029       0.000017       0.000054

In [56]:
data.values[0][1] # [0, 1]

3.03

In [57]:
data.iloc[:3, :2]

              area   GDP
Beijing   16410.54  3.03
Henan    167000.00  4.80
Hunan    211800.00  3.64

In [58]:
a = data.loc[:'Hunan', :'GDP']
a

              area   GDP
Beijing   16410.54  3.03
Henan    167000.00  4.80
Hunan    211800.00  3.64

(3) 其它取值方法

In [59]:
data['Henan':'Hunan'] # 显式切片索引

           area   GDP   density
Henan  167000.0  4.80  0.000029
Hunan  211800.0  3.64  0.000017

In [60]:
data[1:3] # 隐式切片

           area   GDP   density
Henan  167000.0  4.80  0.000029
Hunan  211800.0  3.64  0.000017

## Index 对象

In [62]:
d = {'a':2, 'b':4}

In [ ]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

1) 将 Index 看作不可变数组

In [ ]:
ind[1]

In [ ]:
ind[::2]

In [ ]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

2) 将 Index 看作有序集合，和 Python 的中的 `set` 对象有很多相似的操作

In [ ]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [ ]:
indA & indB # 交集

In [ ]:
indA | indB # 并集

In [ ]:
indA ^ indB # 异或

## 层级索引 `MultiIndex`

如果想处理中国每个省 2000 年到 2018 年的数据，在 Pandas 中该如何存储呢？

In [8]:
import numpy as np
import pandas as pd

### 一种笨办法

下面的 CSV 文件中存储了每个省每年的人口和 GDP 数据 (查看数据文件格式)。

In [14]:
data = pd.read_csv('./data/pop_and_gdp.csv')
data

       省    年份  人口(万人)  地区gdp(亿元)
0    北京市  2018  2154.0   30319.98
1    北京市  2017  2171.0   28014.94
2    北京市  2016  2173.0   25669.13
3    北京市  2015  2171.0   23014.59
4    北京市  2014  2152.0   21330.83
5    北京市  2013  2115.0   19800.81
6    北京市  2012  2069.0   17879.40
7    北京市  2011  2019.0   16251.93
8    北京市  2010  1962.0   14113.58
9    北京市  2009  1860.0   12153.03
10   北京市  2008  1771.0   11115.00
11   北京市  2007  1676.0    9846.81
12   北京市  2006  1601.0    8117.78
13   北京市  2005  1538.0    6969.52
14   北京市  2004  1493.0    6033.21
15   北京市  2003  1456.0    5007.21
16   北京市  2002  1423.0    4315.00
17   北京市  2001  1385.0    3707.96
18   北京市  2000  1364.0    3161.66
19   安徽省  2018  6324.0   30006.82
20   安徽省  2017  6255.0   27018.00
21   安徽省  2016  6196.0   24407.62
22   安徽省  2015  6144.0   22005.63
23   安徽省  2014  6083.0   20848.75
24   安徽省  2013  6030.0   19229.34
25   安徽省  2012  5988.0   17212.05
26   安徽省  2011  5968.0   15300.65
27   安徽省  2010  5957.0   12359.33
28   安徽省  2009  6131.0   10062.82
29   安徽省  2008  6135.0    8851.66
..   ...   ...     ...        ...
559  浙江省  2010  5447.0   27722.31
560  浙江省  2009  5276.0   22990.35
561  浙江省  2008  5212.0   21462.69
562  浙江省  2007  5155.0   18753.73
563  浙江省  2006  5072.0   15718.47
564  浙江省  2005  4991.0   13417.68
565  浙江省  2004  4925.0   11648.70
566  浙江省  2003  4857.0    9705.02
567  浙江省  2002  4776.0    8003.67
568  浙江省  2001  4729.0    6898.34
569  浙江省  2000  4680.0    6141.03
570  重庆市  2018  3102.0   20363.19
571  重庆市  2017  3075.0   19424.73
572  重庆市  2016  3048.0   17740.59
573  重庆市  2015  3017.0   15717.27
574  重庆市  2014  2991.0   14262.60
575  重庆市  2013  2970.0   12783.26
576  重庆市  2012  2945.0   11409.60
577  重庆市  2011  2919.0   10011.37
578  重庆市  2010  2885.0    7925.58
579  重庆市  2009  2859.0    6530.01
580  重庆市  2008  2839.0    5793.66
581  重庆市  2007  2816.0    4676.13
582  重庆市  2006  2808.0    3907.23
583  重庆市  2005  2798.0    3467.72
584  重庆市  2004  2793.0    3034.58
585  重庆市  2003  2803.0    2555.72
586  重庆市  2002  2814.0    2232.86
587  重庆市  2001  2829.0    1976.86
588  重庆市  2000  2849.0    1791.00

[589 rows x 4 columns]

In [16]:
index = [(x, y) for x, y in zip(data['省'], data['年份'])]

In [17]:
pop = pd.Series(data['人口(万人)'].values, index=index)
pop

(北京市, 2018)    2154.0
(北京市, 2017)    2171.0
(北京市, 2016)    2173.0
(北京市, 2015)    2171.0
(北京市, 2014)    2152.0
(北京市, 2013)    2115.0
(北京市, 2012)    2069.0
(北京市, 2011)    2019.0
(北京市, 2010)    1962.0
(北京市, 2009)    1860.0
(北京市, 2008)    1771.0
(北京市, 2007)    1676.0
(北京市, 2006)    1601.0
(北京市, 2005)    1538.0
(北京市, 2004)    1493.0
(北京市, 2003)    1456.0
(北京市, 2002)    1423.0
(北京市, 2001)    1385.0
(北京市, 2000)    1364.0
(安徽省, 2018)    6324.0
(安徽省, 2017)    6255.0
(安徽省, 2016)    6196.0
(安徽省, 2015)    6144.0
(安徽省, 2014)    6083.0
(安徽省, 2013)    6030.0
(安徽省, 2012)    5988.0
(安徽省, 2011)    5968.0
(安徽省, 2010)    5957.0
(安徽省, 2009)    6131.0
(安徽省, 2008)    6135.0
                ...
(浙江省, 2010)    5447.0
(浙江省, 2009)    5276.0
(浙江省, 2008)    5212.0
(浙江省, 2007)    5155.0
(浙江省, 2006)    5072.0
(浙江省, 2005)    4991.0
(浙江省, 2004)    4925.0
(浙江省, 2003)    4857.0
(浙江省, 2002)    4776.0
(浙江省, 2001)    4729.0
(浙江省, 2000)    4680.0
(重庆市, 2018)    3102.0
(重庆市, 2017)    3075.0
(重庆市, 2016)    3048.0
(重庆市, 2015)    3017.0
(重庆市, 2014)    2991.0
(重庆市, 2013)    2970.0
(重庆市, 2012)    2945.0
(重庆市, 2011)    2919.0
(重庆市, 2010)    2885.0
(重庆市, 2009)    2859.0
(重庆市, 2008)    2839.0
(重庆市, 2007)    2816.0
(重庆市, 2006)    2808.0
(重庆市, 2005)    2798.0
(重庆市, 2004)    2793.0
(重庆市, 2003)    2803.0
(重庆市, 2002)    2814.0
(重庆市, 2001)    2829.0
(重庆市, 2000)    2849.0
Length: 589, dtype: float64

In [18]:
pop[('北京市', 2018):('北京市', 2014)]

(北京市, 2018)    2154.0
(北京市, 2017)    2171.0
(北京市, 2016)    2173.0
(北京市, 2015)    2171.0
(北京市, 2014)    2152.0
dtype: float64

下面取出所有省 2018 年数据

In [19]:
pop[[i for i in pop.index if i[1] == 2018]]

(北京市, 2018)          2154.0
(安徽省, 2018)          6324.0
(福建省, 2018)          3941.0
(甘肃省, 2018)          2637.0
(广东省, 2018)         11346.0
(广西壮族自治区, 2018)      4926.0
(贵州省, 2018)          3600.0
(海南省, 2018)           934.0
(河北省, 2018)          7556.0
(河南省, 2018)          9605.0
(黑龙江省, 2018)         3773.0
(湖北省, 2018)          5917.0
(湖南省, 2018)          6899.0
(吉林省, 2018)          2704.0
(江苏省, 2018)          8051.0
(江西省, 2018)          4648.0
(辽宁省, 2018)          4359.0
(内蒙古自治区, 2018)       2534.0
(宁夏回族自治区, 2018)       688.0
(青海省, 2018)           603.0
(山东省, 2018)         10047.0
(山西省, 2018)          3718.0
(陕西省, 2018)          3864.0
(上海市, 2018)          2424.0
(四川省, 2018)          8341.0
(天津市, 2018)          1560.0
(西藏自治区, 2018)         344.0
(新疆维吾尔自治区, 2018)     2487.0
(云南省, 2018)          4830.0
(浙江省, 2018)          5737.0
(重庆市, 2018)          3102.0
dtype: float64

### 另一种方法

In [ ]:
index = pd.MultiIndex.from_tuples(index)

In [25]:
pop

(北京市, 2018)    2154.0
(北京市, 2017)    2171.0
(北京市, 2016)    2173.0
(北京市, 2015)    2171.0
(北京市, 2014)    2152.0
(北京市, 2013)    2115.0
(北京市, 2012)    2069.0
(北京市, 2011)    2019.0
(北京市, 2010)    1962.0
(北京市, 2009)    1860.0
(北京市, 2008)    1771.0
(北京市, 2007)    1676.0
(北京市, 2006)    1601.0
(北京市, 2005)    1538.0
(北京市, 2004)    1493.0
(北京市, 2003)    1456.0
(北京市, 2002)    1423.0
(北京市, 2001)    1385.0
(北京市, 2000)    1364.0
(安徽省, 2018)    6324.0
(安徽省, 2017)    6255.0
(安徽省, 2016)    6196.0
(安徽省, 2015)    6144.0
(安徽省, 2014)    6083.0
(安徽省, 2013)    6030.0
(安徽省, 2012)    5988.0
(安徽省, 2011)    5968.0
(安徽省, 2010)    5957.0
(安徽省, 2009)    6131.0
(安徽省, 2008)    6135.0
                ...
(浙江省, 2010)    5447.0
(浙江省, 2009)    5276.0
(浙江省, 2008)    5212.0
(浙江省, 2007)    5155.0
(浙江省, 2006)    5072.0
(浙江省, 2005)    4991.0
(浙江省, 2004)    4925.0
(浙江省, 2003)    4857.0
(浙江省, 2002)    4776.0
(浙江省, 2001)    4729.0
(浙江省, 2000)    4680.0
(重庆市, 2018)    3102.0
(重庆市, 2017)    3075.0
(重庆市, 2016)    3048.0
(重庆市, 2015)    3017.0
(重庆市, 2014)    2991.0
(重庆市, 2013)    2970.0
(重庆市, 2012)    2945.0
(重庆市, 2011)    2919.0
(重庆市, 2010)    2885.0
(重庆市, 2009)    2859.0
(重庆市, 2008)    2839.0
(重庆市, 2007)    2816.0
(重庆市, 2006)    2808.0
(重庆市, 2005)    2798.0
(重庆市, 2004)    2793.0
(重庆市, 2003)    2803.0
(重庆市, 2002)    2814.0
(重庆市, 2001)    2829.0
(重庆市, 2000)    2849.0
Length: 589, dtype: float64

In [26]:
pop = pop.reindex(index)
pop # 带层级索引的 Series 对象

北京市  2018    2154.0
     2017    2171.0
     2016    2173.0
     2015    2171.0
     2014    2152.0
     2013    2115.0
     2012    2069.0
     2011    2019.0
     2010    1962.0
     2009    1860.0
     2008    1771.0
     2007    1676.0
     2006    1601.0
     2005    1538.0
     2004    1493.0
     2003    1456.0
     2002    1423.0
     2001    1385.0
     2000    1364.0
安徽省  2018    6324.0
     2017    6255.0
     2016    6196.0
     2015    6144.0
     2014    6083.0
     2013    6030.0
     2012    5988.0
     2011    5968.0
     2010    5957.0
     2009    6131.0
     2008    6135.0
              ...
浙江省  2010    5447.0
     2009    5276.0
     2008    5212.0
     2007    5155.0
     2006    5072.0
     2005    4991.0
     2004    4925.0
     2003    4857.0
     2002    4776.0
     2001    4729.0
     2000    4680.0
重庆市  2018    3102.0
     2017    3075.0
     2016    3048.0
     2015    3017.0
     2014    2991.0
     2013    2970.0
     2012    2945.0
     2011    2919.0
     2010    2885.0
     2009    2859.0
     2008    2839.0
     2007    2816.0
     2006    2808.0
     2005    2798.0
     2004    2793.0
     2003    2803.0
     2002    2814.0
     2001    2829.0
     2000    2849.0
Length: 589, dtype: float64

In [27]:
pop[:, 2018]

北京市          2154.0
安徽省          6324.0
福建省          3941.0
甘肃省          2637.0
广东省         11346.0
广西壮族自治区      4926.0
贵州省          3600.0
海南省           934.0
河北省          7556.0
河南省          9605.0
黑龙江省         3773.0
湖北省          5917.0
湖南省          6899.0
吉林省          2704.0
江苏省          8051.0
江西省          4648.0
辽宁省          4359.0
内蒙古自治区       2534.0
宁夏回族自治区       688.0
青海省           603.0
山东省         10047.0
山西省          3718.0
陕西省          3864.0
上海市          2424.0
四川省          8341.0
天津市          1560.0
西藏自治区         344.0
新疆维吾尔自治区     2487.0
云南省          4830.0
浙江省          5737.0
重庆市          3102.0
dtype: float64

### 层级索引 Series 转化为 DataFrame 对象

In [31]:
pop

北京市  2018    2154.0
     2017    2171.0
     2016    2173.0
     2015    2171.0
     2014    2152.0
     2013    2115.0
     2012    2069.0
     2011    2019.0
     2010    1962.0
     2009    1860.0
     2008    1771.0
     2007    1676.0
     2006    1601.0
     2005    1538.0
     2004    1493.0
     2003    1456.0
     2002    1423.0
     2001    1385.0
     2000    1364.0
安徽省  2018    6324.0
     2017    6255.0
     2016    6196.0
     2015    6144.0
     2014    6083.0
     2013    6030.0
     2012    5988.0
     2011    5968.0
     2010    5957.0
     2009    6131.0
     2008    6135.0
              ...
浙江省  2010    5447.0
     2009    5276.0
     2008    5212.0
     2007    5155.0
     2006    5072.0
     2005    4991.0
     2004    4925.0
     2003    4857.0
     2002    4776.0
     2001    4729.0
     2000    4680.0
重庆市  2018    3102.0
     2017    3075.0
     2016    3048.0
     2015    3017.0
     2014    2991.0
     2013    2970.0
     2012    2945.0
     2011    2919.0
     2010    2885.0
     2009    2859.0
     2008    2839.0
     2007    2816.0
     2006    2808.0
     2005    2798.0
     2004    2793.0
     2003    2803.0
     2002    2814.0
     2001    2829.0
     2000    2849.0
Length: 589, dtype: float64

In [29]:
pop_df = pop.unstack()
pop_df

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
上海市,1609.0,1668.0,1713.0,1766.0,1835.0,1890.0,1964.0,2064.0,2141.0,2210.0,2303.0,2347.0,2380.0,2415.0,2426.0,2415.0,2420.0,2418.0,2424.0
云南省,4241.0,4287.0,4333.0,4376.0,4415.0,4450.0,4483.0,4514.0,4543.0,4571.0,4602.0,4631.0,4659.0,4687.0,4714.0,4742.0,4771.0,4801.0,4830.0
内蒙古自治区,2372.0,2381.0,2384.0,2386.0,2393.0,2403.0,2415.0,2429.0,2444.0,2458.0,2472.0,2482.0,2490.0,2498.0,2505.0,2511.0,2520.0,2529.0,2534.0
北京市,1364.0,1385.0,1423.0,1456.0,1493.0,1538.0,1601.0,1676.0,1771.0,1860.0,1962.0,2019.0,2069.0,2115.0,2152.0,2171.0,2173.0,2171.0,2154.0
吉林省,2682.0,2691.0,2699.0,2704.0,2709.0,2716.0,2723.0,2730.0,2734.0,2740.0,2747.0,2749.0,2750.0,2751.0,2752.0,2753.0,2733.0,2717.0,2704.0
四川省,8329.0,8143.0,8110.0,8176.0,8090.0,8212.0,8169.0,8127.0,8138.0,8185.0,8045.0,8050.0,8076.0,8107.0,8140.0,8204.0,8262.0,8302.0,8341.0
天津市,1001.0,1004.0,1007.0,1011.0,1024.0,1043.0,1075.0,1115.0,1176.0,1228.0,1299.0,1355.0,1413.0,1472.0,1517.0,1547.0,1562.0,1557.0,1560.0
宁夏回族自治区,554.0,563.0,572.0,580.0,588.0,596.0,604.0,610.0,618.0,625.0,633.0,639.0,647.0,654.0,662.0,668.0,675.0,682.0,688.0
安徽省,6093.0,6128.0,6144.0,6163.0,6228.0,6120.0,6110.0,6118.0,6135.0,6131.0,5957.0,5968.0,5988.0,6030.0,6083.0,6144.0,6196.0,6255.0,6324.0
山东省,8998.0,9041.0,9082.0,9125.0,9180.0,9248.0,9309.0,9367.0,9417.0,9470.0,9588.0,9637.0,9685.0,9733.0,9789.0,9847.0,9947.0,10006.0,10047.0
山西省,3247.0,3272.0,3294.0,3314.0,3335.0,3355.0,3375.0,3393.0,3411.0,3427.0,3574.0,3593.0,3611.0,3630.0,3648.0,3664.0,3682.0,3702.0,3718.0
广东省,8650.0,8733.0,8842.0,8963.0,9111.0,9194.0,9442.0,9660.0,9893.0,10130.0,10441.0,10505.0,10594.0,10644.0,10724.0,10849.0,10999.0,11169.0,11346.0
广西壮族自治区,4751.0,4788.0,4822.0,4857.0,4889.0,4660.0,4719.0,4768.0,4816.0,4856.0,4610.0,4645.0,4682.0,4719.0,4754.0,4796.0,4838.0,4885.0,4926.0
新疆维吾尔自治区,1849.0,1876.0,1905.0,1934.0,1963.0,2010.0,2050.0,2095.0,2131.0,2159.0,2185.0,2209.0,2233.0,2264.0,2298.0,2360.0,2398.0,2445.0,2487.0
江苏省,7327.0,7359.0,7406.0,7458.0,7523.0,7588.0,7656.0,7723.0,7762.0,7810.0,7869.0,7899.0,7920.0,7939.0,7960.0,7976.0,7999.0,8029.0,8051.0
江西省,4149.0,4186.0,4222.0,4254.0,4284.0,4311.0,4339.0,4368.0,4400.0,4432.0,4462.0,4488.0,4504.0,4522.0,4542.0,4566.0,4592.0,4622.0,4648.0
河北省,6674.0,6699.0,6735.0,6769.0,6809.0,6851.0,6898.0,6943.0,6989.0,7034.0,7194.0,7241.0,7288.0,7333.0,7384.0,7425.0,7470.0,7520.0,7556.0
河南省,9488.0,9555.0,9613.0,9667.0,9717.0,9380.0,9392.0,9360.0,9429.0,9487.0,9405.0,9388.0,9406.0,9413.0,9436.0,9480.0,9532.0,9559.0,9605.0
浙江省,4680.0,4729.0,4776.0,4857.0,4925.0,4991.0,5072.0,5155.0,5212.0,5276.0,5447.0,5463.0,5477.0,5498.0,5508.0,5539.0,5590.0,5657.0,5737.0
海南省,789.0,796.0,803.0,811.0,818.0,828.0,836.0,845.0,854.0,864.0,869.0,877.0,887.0,895.0,903.0,911.0,917.0,926.0,934.0
湖北省,5646.0,5658.0,5672.0,5685.0,5698.0,5710.0,5693.0,5699.0,5711.0,5720.0,5728.0,5758.0,5779.0,5799.0,5816.0,5852.0,5885.0,5902.0,5917.0
湖南省,6562.0,6596.0,6629.0,6663.0,6698.0,6326.0,6342.0,6355.0,6380.0,6406.0,6570.0,6596.0,6639.0,6691.0,6737.0,6783.0,6822.0,6860.0,6899.0
甘肃省,2515.0,2523.0,2531.0,2537.0,2541.0,2545.0,2547.0,2548.0,2551.0,2555.0,2560.0,2564.0,2578.0,2582.0,2591.0,2600.0,2610.0,2626.0,2637.0
福建省,3410.0,3445.0,3476.0,3502.0,3529.0,3557.0,3585.0,3612.0,3639.0,3666.0,3693.0,3720.0,3748.0,3774.0,3806.0,3839.0,3874.0,3911.0,3941.0
西藏自治区,258.0,264.0,268.0,272.0,276.0,280.0,285.0,289.0,292.0,296.0,300.0,303.0,308.0,312.0,318.0,324.0,331.0,337.0,344.0
贵州省,3756.0,3799.0,3837.0,3870.0,3904.0,3730.0,3690.0,3632.0,3596.0,3537.0,3479.0,3469.0,3484.0,3502.0,3508.0,3530.0,3555.0,3580.0,3600.0
辽宁省,4184.0,4194.0,4203.0,4210.0,4217.0,4221.0,4271.0,4298.0,4315.0,4341.0,4375.0,4383.0,4389.0,4390.0,4391.0,4382.0,4378.0,4369.0,4359.0
重庆市,2849.0,2829.0,2814.0,2803.0,2793.0,2798.0,2808.0,2816.0,2839.0,2859.0,2885.0,2919.0,2945.0,2970.0,2991.0,3017.0,3048.0,3075.0,3102.0
陕西省,3644.0,3653.0,3662.0,3672.0,3681.0,3690.0,3699.0,3708.0,3718.0,3727.0,3735.0,3743.0,3753.0,3764.0,3775.0,3793.0,3813.0,3835.0,3864.0
青海省,517.0,523.0,529.0,534.0,539.0,543.0,548.0,552.0,554.0,557.0,563.0,568.0,573.0,578.0,583.0,588.0,593.0,598.0,603.0
黑龙江省,3807.0,3811.0,3813.0,3815.0,3817.0,3820.0,3823.0,3824.0,3825.0,3826.0,3833.0,3834.0,3834.0,3835.0,3833.0,3812.0,3799.0,3789.0,3773.0

In [30]:
pop_df.stack()

上海市   2000    1609.0
      2001    1668.0
      2002    1713.0
      2003    1766.0
      2004    1835.0
      2005    1890.0
      2006    1964.0
      2007    2064.0
      2008    2141.0
      2009    2210.0
      2010    2303.0
      2011    2347.0
      2012    2380.0
      2013    2415.0
      2014    2426.0
      2015    2415.0
      2016    2420.0
      2017    2418.0
      2018    2424.0
云南省   2000    4241.0
      2001    4287.0
      2002    4333.0
      2003    4376.0
      2004    4415.0
      2005    4450.0
      2006    4483.0
      2007    4514.0
      2008    4543.0
      2009    4571.0
      2010    4602.0
               ...
青海省   2008     554.0
      2009     557.0
      2010     563.0
      2011     568.0
      2012     573.0
      2013     578.0
      2014     583.0
      2015     588.0
      2016     593.0
      2017     598.0
      2018     603.0
黑龙江省  2000    3807.0
      2001    3811.0
      2002    3813.0
      2003    3815.0
      2004    3817.0
      2005    3820.0
      2006    3823.0
      2007    3824.0
      2008    3825.0
      2009    3826.0
      2010    3833.0
      2011    3834.0
      2012    3834.0
      2013    3835.0
      2014    3833.0
      2015    3812.0
      2016    3799.0
      2017    3789.0
      2018    3773.0
Length: 589, dtype: float64

### 创建层级索引的方法

In [32]:
df = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=['data1', 'data2'])
df

        data1     data2
a 1  0.944259  0.501218
  2  0.780425  0.305258
b 1  0.125085  0.080968
  2  0.030989  0.431338

In [33]:
data = {('California', 2000): 33871648,
        ('California', 2010): 37253956,
        ('Texas', 2000): 20851820,
        ('Texas', 2010): 25145561,
        ('New York', 2000): 18976457,
        ('New York', 2010): 19378102}
pd.Series(data)

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

In [34]:
pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [35]:
pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [37]:
pd.MultiIndex.from_product([['a', 'b'], [1, 2]])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [38]:
pd.MultiIndex(levels=[['a', 'b'], [1, 2]],
              labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

也可以给每一层级的索引加上名字，

In [39]:
pop

北京市  2018    2154.0
     2017    2171.0
     2016    2173.0
     2015    2171.0
     2014    2152.0
     2013    2115.0
     2012    2069.0
     2011    2019.0
     2010    1962.0
     2009    1860.0
     2008    1771.0
     2007    1676.0
     2006    1601.0
     2005    1538.0
     2004    1493.0
     2003    1456.0
     2002    1423.0
     2001    1385.0
     2000    1364.0
安徽省  2018    6324.0
     2017    6255.0
     2016    6196.0
     2015    6144.0
     2014    6083.0
     2013    6030.0
     2012    5988.0
     2011    5968.0
     2010    5957.0
     2009    6131.0
     2008    6135.0
              ...
浙江省  2010    5447.0
     2009    5276.0
     2008    5212.0
     2007    5155.0
     2006    5072.0
     2005    4991.0
     2004    4925.0
     2003    4857.0
     2002    4776.0
     2001    4729.0
     2000    4680.0
重庆市  2018    3102.0
     2017    3075.0
     2016    3048.0
     2015    3017.0
     2014    2991.0
     2013    2970.0
     2012    2945.0
     2011    2919.0
     2010    2885.0
     2009    2859.0
     2008    2839.0
     2007    2816.0
     2006    2808.0
     2005    2798.0
     2004    2793.0
     2003    2803.0
     2002    2814.0
     2001    2829.0
     2000    2849.0
Length: 589, dtype: float64

In [41]:
pop.index.names = ['省', '年份']
pop

省    年份
北京市  2018    2154.0
     2017    2171.0
     2016    2173.0
     2015    2171.0
     2014    2152.0
     2013    2115.0
     2012    2069.0
     2011    2019.0
     2010    1962.0
     2009    1860.0
     2008    1771.0
     2007    1676.0
     2006    1601.0
     2005    1538.0
     2004    1493.0
     2003    1456.0
     2002    1423.0
     2001    1385.0
     2000    1364.0
安徽省  2018    6324.0
     2017    6255.0
     2016    6196.0
     2015    6144.0
     2014    6083.0
     2013    6030.0
     2012    5988.0
     2011    5968.0
     2010    5957.0
     2009    6131.0
     2008    6135.0
              ...
浙江省  2010    5447.0
     2009    5276.0
     2008    5212.0
     2007    5155.0
     2006    5072.0
     2005    4991.0
     2004    4925.0
     2003    4857.0
     2002    4776.0
     2001    4729.0
     2000    4680.0
重庆市  2018    3102.0
     2017    3075.0
     2016    3048.0
     2015    3017.0
     2014    2991.0
     2013    2970.0
     2012    2945.0
     2011    2919.0
     2010    2885.0
     2009    2859.0
     2008    2839.0
     2007    2816.0
     2006    2808.0
     2005    2798.0
     2004    2793.0
     2003    2803.0
     2002    2814.0
     2001    2829.0
     2000    2849.0
Length: 589, dtype: float64

### 列的层级

`DataFrame` 的列也可以加上多层索引

In [42]:
# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                   names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                     names=['subject', 'type'])

# mock some data
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37

# create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      48.0  36.8  43.0  36.8  29.0  36.5
     2      45.0  37.0  39.0  36.4  40.0  36.0
2014 1      47.0  34.5  43.0  36.3  48.0  35.3
     2      33.0  36.5  54.0  37.5  25.0  36.9

In [43]:
health_data['Sue']

type          HR  Temp
year visit
2013 1      29.0  36.5
     2      40.0  36.0
2014 1      48.0  35.3
     2      25.0  36.9

### `MultiIndex` 的索引和切片

下面先介绍多层索引的 `Series` 对象的索引方法：

In [44]:
pop

省    年份
北京市  2018    2154.0
     2017    2171.0
     2016    2173.0
     2015    2171.0
     2014    2152.0
     2013    2115.0
     2012    2069.0
     2011    2019.0
     2010    1962.0
     2009    1860.0
     2008    1771.0
     2007    1676.0
     2006    1601.0
     2005    1538.0
     2004    1493.0
     2003    1456.0
     2002    1423.0
     2001    1385.0
     2000    1364.0
安徽省  2018    6324.0
     2017    6255.0
     2016    6196.0
     2015    6144.0
     2014    6083.0
     2013    6030.0
     2012    5988.0
     2011    5968.0
     2010    5957.0
     2009    6131.0
     2008    6135.0
              ...
浙江省  2010    5447.0
     2009    5276.0
     2008    5212.0
     2007    5155.0
     2006    5072.0
     2005    4991.0
     2004    4925.0
     2003    4857.0
     2002    4776.0
     2001    4729.0
     2000    4680.0
重庆市  2018    3102.0
     2017    3075.0
     2016    3048.0
     2015    3017.0
     2014    2991.0
     2013    2970.0
     2012    2945.0
     2011    2919.0
     2010    2885.0
     2009    2859.0
     2008    2839.0
     2007    2816.0
     2006    2808.0
     2005    2798.0
     2004    2793.0
     2003    2803.0
     2002    2814.0
     2001    2829.0
     2000    2849.0
Length: 589, dtype: float64

In [45]:
pop['北京市', 2000]

1364.0

In [46]:
pop['北京市']

年份
2018    2154.0
2017    2171.0
2016    2173.0
2015    2171.0
2014    2152.0
2013    2115.0
2012    2069.0
2011    2019.0
2010    1962.0
2009    1860.0
2008    1771.0
2007    1676.0
2006    1601.0
2005    1538.0
2004    1493.0
2003    1456.0
2002    1423.0
2001    1385.0
2000    1364.0
dtype: float64

In [47]:
pop[:, 2018]

省
北京市          2154.0
安徽省          6324.0
福建省          3941.0
甘肃省          2637.0
广东省         11346.0
广西壮族自治区      4926.0
贵州省          3600.0
海南省           934.0
河北省          7556.0
河南省          9605.0
黑龙江省         3773.0
湖北省          5917.0
湖南省          6899.0
吉林省          2704.0
江苏省          8051.0
江西省          4648.0
辽宁省          4359.0
内蒙古自治区       2534.0
宁夏回族自治区       688.0
青海省           603.0
山东省         10047.0
山西省          3718.0
陕西省          3864.0
上海市          2424.0
四川省          8341.0
天津市          1560.0
西藏自治区         344.0
新疆维吾尔自治区     2487.0
云南省          4830.0
浙江省          5737.0
重庆市          3102.0
dtype: float64

In [91]:
pop[pop > 10000]

省    年份
广东省  2018    11346.0
     2017    11169.0
     2016    10999.0
     2015    10849.0
     2014    10724.0
     2013    10644.0
     2012    10594.0
     2011    10505.0
     2010    10441.0
     2009    10130.0
山东省  2018    10047.0
     2017    10006.0
dtype: float64

In [48]:
pop['广东省']

年份
2018    11346.0
2017    11169.0
2016    10999.0
2015    10849.0
2014    10724.0
2013    10644.0
2012    10594.0
2011    10505.0
2010    10441.0
2009    10130.0
2008     9893.0
2007     9660.0
2006     9442.0
2005     9194.0
2004     9111.0
2003     8963.0
2002     8842.0
2001     8733.0
2000     8650.0
dtype: float64

下面介绍 `DataFrame` 对象的层级索引。但要注意，`DataFrame` 的列索引是**主索引**。

In [49]:
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      48.0  36.8  43.0  36.8  29.0  36.5
     2      45.0  37.0  39.0  36.4  40.0  36.0
2014 1      47.0  34.5  43.0  36.3  48.0  35.3
     2      33.0  36.5  54.0  37.5  25.0  36.9

In [52]:
health_data['Guido', 'HR'] # 列名才是主索引

year  visit
2013  1        43.0
      2        39.0
2014  1        43.0
      2        54.0
Name: (Guido, HR), dtype: float64

In [96]:
health_data.iloc[:2, :2] # 隐式索引

subject      Bob
type          HR  Temp
year visit
2013 1      34.0  36.0
     2      30.0  37.2

In [57]:
health_data.loc[2013]

subject   Bob       Guido         Sue
type       HR  Temp    HR  Temp    HR  Temp
visit
1        48.0  36.8  43.0  36.8  29.0  36.5
2        45.0  37.0  39.0  36.4  40.0  36.0

In [55]:
health_data.loc[(:, 1), (:, 'HR')]

SyntaxError: invalid syntax (<ipython-input-55-fb34fa30ac09>, line 1)

In [56]:
idx = pd.IndexSlice
health_data.loc[idx[:, 1], idx[:, 'HR']]

subject      Bob Guido   Sue
type          HR    HR    HR
year visit
2013 1      48.0  43.0  29.0
2014 1      47.0  43.0  48.0

### 层级索引的排序

**注意，对于 `MultiIndex` 来说，如果索引没有排序，大部分切片(slicing) 操作都会失败！**

In [58]:
index = pd.MultiIndex.from_product([['a', 'c', 'b'], [1, 2]])
data = pd.Series(np.random.rand(6), index=index)
data.index.names = ['char', 'int']
data

char  int
a     1      0.038286
      2      0.797415
c     1      0.373559
      2      0.387682
b     1      0.465409
      2      0.317006
dtype: float64

In [ ]:
try:
    data['a':'b']
except KeyError as e:
    print(type(e))
    print(e)

In [60]:
data = data.sort_index()
data

char  int
a     1      0.038286
      2      0.797415
b     1      0.465409
      2      0.317006
c     1      0.373559
      2      0.387682
dtype: float64

In [61]:
data['a':'b']

char  int
a     1      0.038286
      2      0.797415
b     1      0.465409
      2      0.317006
dtype: float64

我们可以把一个带层级索引的 `Series` 对象，转化为二维的数据表示

In [62]:
pop

省    年份
北京市  2018    2154.0
     2017    2171.0
     2016    2173.0
     2015    2171.0
     2014    2152.0
     2013    2115.0
     2012    2069.0
     2011    2019.0
     2010    1962.0
     2009    1860.0
     2008    1771.0
     2007    1676.0
     2006    1601.0
     2005    1538.0
     2004    1493.0
     2003    1456.0
     2002    1423.0
     2001    1385.0
     2000    1364.0
安徽省  2018    6324.0
     2017    6255.0
     2016    6196.0
     2015    6144.0
     2014    6083.0
     2013    6030.0
     2012    5988.0
     2011    5968.0
     2010    5957.0
     2009    6131.0
     2008    6135.0
              ...
浙江省  2010    5447.0
     2009    5276.0
     2008    5212.0
     2007    5155.0
     2006    5072.0
     2005    4991.0
     2004    4925.0
     2003    4857.0
     2002    4776.0
     2001    4729.0
     2000    4680.0
重庆市  2018    3102.0
     2017    3075.0
     2016    3048.0
     2015    3017.0
     2014    2991.0
     2013    2970.0
     2012    2945.0
     2011    2919.0
     2010    2885.0
     2009    2859.0
     2008    2839.0
     2007    2816.0
     2006    2808.0
     2005    2798.0
     2004    2793.0
     2003    2803.0
     2002    2814.0
     2001    2829.0
     2000    2849.0
Length: 589, dtype: float64

In [65]:
pop.unstack()

年份,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
省,,,,,,,,,,,,,,,,,,,
上海市,1609.0,1668.0,1713.0,1766.0,1835.0,1890.0,1964.0,2064.0,2141.0,2210.0,2303.0,2347.0,2380.0,2415.0,2426.0,2415.0,2420.0,2418.0,2424.0
云南省,4241.0,4287.0,4333.0,4376.0,4415.0,4450.0,4483.0,4514.0,4543.0,4571.0,4602.0,4631.0,4659.0,4687.0,4714.0,4742.0,4771.0,4801.0,4830.0
内蒙古自治区,2372.0,2381.0,2384.0,2386.0,2393.0,2403.0,2415.0,2429.0,2444.0,2458.0,2472.0,2482.0,2490.0,2498.0,2505.0,2511.0,2520.0,2529.0,2534.0
北京市,1364.0,1385.0,1423.0,1456.0,1493.0,1538.0,1601.0,1676.0,1771.0,1860.0,1962.0,2019.0,2069.0,2115.0,2152.0,2171.0,2173.0,2171.0,2154.0
吉林省,2682.0,2691.0,2699.0,2704.0,2709.0,2716.0,2723.0,2730.0,2734.0,2740.0,2747.0,2749.0,2750.0,2751.0,2752.0,2753.0,2733.0,2717.0,2704.0
四川省,8329.0,8143.0,8110.0,8176.0,8090.0,8212.0,8169.0,8127.0,8138.0,8185.0,8045.0,8050.0,8076.0,8107.0,8140.0,8204.0,8262.0,8302.0,8341.0
天津市,1001.0,1004.0,1007.0,1011.0,1024.0,1043.0,1075.0,1115.0,1176.0,1228.0,1299.0,1355.0,1413.0,1472.0,1517.0,1547.0,1562.0,1557.0,1560.0
宁夏回族自治区,554.0,563.0,572.0,580.0,588.0,596.0,604.0,610.0,618.0,625.0,633.0,639.0,647.0,654.0,662.0,668.0,675.0,682.0,688.0
安徽省,6093.0,6128.0,6144.0,6163.0,6228.0,6120.0,6110.0,6118.0,6135.0,6131.0,5957.0,5968.0,5988.0,6030.0,6083.0,6144.0,6196.0,6255.0,6324.0
山东省,8998.0,9041.0,9082.0,9125.0,9180.0,9248.0,9309.0,9367.0,9417.0,9470.0,9588.0,9637.0,9685.0,9733.0,9789.0,9847.0,9947.0,10006.0,10047.0
山西省,3247.0,3272.0,3294.0,3314.0,3335.0,3355.0,3375.0,3393.0,3411.0,3427.0,3574.0,3593.0,3611.0,3630.0,3648.0,3664.0,3682.0,3702.0,3718.0
广东省,8650.0,8733.0,8842.0,8963.0,9111.0,9194.0,9442.0,9660.0,9893.0,10130.0,10441.0,10505.0,10594.0,10644.0,10724.0,10849.0,10999.0,11169.0,11346.0
广西壮族自治区,4751.0,4788.0,4822.0,4857.0,4889.0,4660.0,4719.0,4768.0,4816.0,4856.0,4610.0,4645.0,4682.0,4719.0,4754.0,4796.0,4838.0,4885.0,4926.0
新疆维吾尔自治区,1849.0,1876.0,1905.0,1934.0,1963.0,2010.0,2050.0,2095.0,2131.0,2159.0,2185.0,2209.0,2233.0,2264.0,2298.0,2360.0,2398.0,2445.0,2487.0
江苏省,7327.0,7359.0,7406.0,7458.0,7523.0,7588.0,7656.0,7723.0,7762.0,7810.0,7869.0,7899.0,7920.0,7939.0,7960.0,7976.0,7999.0,8029.0,8051.0
江西省,4149.0,4186.0,4222.0,4254.0,4284.0,4311.0,4339.0,4368.0,4400.0,4432.0,4462.0,4488.0,4504.0,4522.0,4542.0,4566.0,4592.0,4622.0,4648.0
河北省,6674.0,6699.0,6735.0,6769.0,6809.0,6851.0,6898.0,6943.0,6989.0,7034.0,7194.0,7241.0,7288.0,7333.0,7384.0,7425.0,7470.0,7520.0,7556.0
河南省,9488.0,9555.0,9613.0,9667.0,9717.0,9380.0,9392.0,9360.0,9429.0,9487.0,9405.0,9388.0,9406.0,9413.0,9436.0,9480.0,9532.0,9559.0,9605.0
浙江省,4680.0,4729.0,4776.0,4857.0,4925.0,4991.0,5072.0,5155.0,5212.0,5276.0,5447.0,5463.0,5477.0,5498.0,5508.0,5539.0,5590.0,5657.0,5737.0
海南省,789.0,796.0,803.0,811.0,818.0,828.0,836.0,845.0,854.0,864.0,869.0,877.0,887.0,895.0,903.0,911.0,917.0,926.0,934.0
湖北省,5646.0,5658.0,5672.0,5685.0,5698.0,5710.0,5693.0,5699.0,5711.0,5720.0,5728.0,5758.0,5779.0,5799.0,5816.0,5852.0,5885.0,5902.0,5917.0
湖南省,6562.0,6596.0,6629.0,6663.0,6698.0,6326.0,6342.0,6355.0,6380.0,6406.0,6570.0,6596.0,6639.0,6691.0,6737.0,6783.0,6822.0,6860.0,6899.0
甘肃省,2515.0,2523.0,2531.0,2537.0,2541.0,2545.0,2547.0,2548.0,2551.0,2555.0,2560.0,2564.0,2578.0,2582.0,2591.0,2600.0,2610.0,2626.0,2637.0
福建省,3410.0,3445.0,3476.0,3502.0,3529.0,3557.0,3585.0,3612.0,3639.0,3666.0,3693.0,3720.0,3748.0,3774.0,3806.0,3839.0,3874.0,3911.0,3941.0
西藏自治区,258.0,264.0,268.0,272.0,276.0,280.0,285.0,289.0,292.0,296.0,300.0,303.0,308.0,312.0,318.0,324.0,331.0,337.0,344.0
贵州省,3756.0,3799.0,3837.0,3870.0,3904.0,3730.0,3690.0,3632.0,3596.0,3537.0,3479.0,3469.0,3484.0,3502.0,3508.0,3530.0,3555.0,3580.0,3600.0
辽宁省,4184.0,4194.0,4203.0,4210.0,4217.0,4221.0,4271.0,4298.0,4315.0,4341.0,4375.0,4383.0,4389.0,4390.0,4391.0,4382.0,4378.0,4369.0,4359.0
重庆市,2849.0,2829.0,2814.0,2803.0,2793.0,2798.0,2808.0,2816.0,2839.0,2859.0,2885.0,2919.0,2945.0,2970.0,2991.0,3017.0,3048.0,3075.0,3102.0
陕西省,3644.0,3653.0,3662.0,3672.0,3681.0,3690.0,3699.0,3708.0,3718.0,3727.0,3735.0,3743.0,3753.0,3764.0,3775.0,3793.0,3813.0,3835.0,3864.0
青海省,517.0,523.0,529.0,534.0,539.0,543.0,548.0,552.0,554.0,557.0,563.0,568.0,573.0,578.0,583.0,588.0,593.0,598.0,603.0
黑龙江省,3807.0,3811.0,3813.0,3815.0,3817.0,3820.0,3823.0,3824.0,3825.0,3826.0,3833.0,3834.0,3834.0,3835.0,3833.0,3812.0,3799.0,3789.0,3773.0

In [ ]:
pop.unstack(level=1)
print()

In [66]:
pop.unstack().stack()

省     年份
上海市   2000    1609.0
      2001    1668.0
      2002    1713.0
      2003    1766.0
      2004    1835.0
      2005    1890.0
      2006    1964.0
      2007    2064.0
      2008    2141.0
      2009    2210.0
      2010    2303.0
      2011    2347.0
      2012    2380.0
      2013    2415.0
      2014    2426.0
      2015    2415.0
      2016    2420.0
      2017    2418.0
      2018    2424.0
云南省   2000    4241.0
      2001    4287.0
      2002    4333.0
      2003    4376.0
      2004    4415.0
      2005    4450.0
      2006    4483.0
      2007    4514.0
      2008    4543.0
      2009    4571.0
      2010    4602.0
               ...
青海省   2008     554.0
      2009     557.0
      2010     563.0
      2011     568.0
      2012     573.0
      2013     578.0
      2014     583.0
      2015     588.0
      2016     593.0
      2017     598.0
      2018     603.0
黑龙江省  2000    3807.0
      2001    3811.0
      2002    3813.0
      2003    3815.0
      2004    3817.0
      2005    3820.0
      2006    3823.0
      2007    3824.0
      2008    3825.0
      2009    3826.0
      2010    3833.0
      2011    3834.0
      2012    3834.0
      2013    3835.0
      2014    3833.0
      2015    3812.0
      2016    3799.0
      2017    3789.0
      2018    3773.0
Length: 589, dtype: float64

In [ ]:
pop_flat = pop.reset_index(name='population')
pop_flat

In [48]:
values = np.array(data1.values[:, 2:], dtype=np.float)
index = [data1['省'].values, data1['年份'].values]
columns = ['人口(万人)', '地区gdp(亿元)']
df = pd.DataFrame(values, index=index, columns=columns)
df.index.names = ['省','年份']
df

0      2018
1      2017
2      2016
3      2015
4      2014
       ...
584    2004
585    2003
586    2002
587    2001
588    2000
Name: 年份, Length: 589, dtype: int64

In [2]:
data0 = pd.read_csv('./data/area.csv', delimiter=',')
data0

           省      面积
0        北京市    1.68
1        安徽省   13.97
2        福建省   12.13
3        甘肃省   45.44
4        广东省   18.00
5    广西壮族自治区   23.60
6        贵州省   17.60
7        海南省    3.40
8        河北省   18.77
9        河南省   16.70
10      黑龙江省   47.30
11       湖北省   18.59
12       湖南省   21.18
13       吉林省   18.74
14       江苏省   10.26
15       江西省   16.70
16       辽宁省   14.59
17    内蒙古自治区  118.30
18   宁夏回族自治区    6.64
19       青海省   72.23
20       山东省   15.38
21       山西省   15.63
22       陕西省   20.56
23       上海市    0.63
24       四川省   48.14
25       天津市    3.60
26     西藏自治区  122.84
27  新疆维吾尔自治区  166.00
28       云南省   38.33
29       浙江省   10.20
30       重庆市    8.23

In [45]:
s0 = pd.Series(data0['面积'].values,
               index= data0['省'].values)
data = pd.DataFrame(s0, columns=['面积'])
data.loc[:'山东省']

             面积
北京市        1.68
安徽省       13.97
福建省       12.13
甘肃省       45.44
广东省       18.00
广西壮族自治区   23.60
贵州省       17.60
海南省        3.40
河北省       18.77
河南省       16.70
黑龙江省      47.30
湖北省       18.59
湖南省       21.18
吉林省       18.74
江苏省       10.26
江西省       16.70
辽宁省       14.59
内蒙古自治区   118.30
宁夏回族自治区    6.64
青海省       72.23
山东省       15.38

0      2018
1      2017
2      2016
3      2015
4      2014
       ...
584    2004
585    2003
586    2002
587    2001
588    2000
Name: 年份, Length: 589, dtype: int64

          人口(万人)  地区gdp(亿元)
省   年份
北京市 2018  2154.0   30319.98
    2017  2171.0   28014.94
    2016  2173.0   25669.13
    2015  2171.0   23014.59
    2014  2152.0   21330.83
...          ...        ...
重庆市 2004  2793.0    3034.58
    2003  2803.0    2555.72
    2002  2814.0    2232.86
    2001  2829.0    1976.86
    2000  2849.0    1791.00

[589 rows x 2 columns]

In [47]:
df.index

MultiIndex([('北京市', 2018),
            ('北京市', 2017),
            ('北京市', 2016),
            ('北京市', 2015),
            ('北京市', 2014),
            ('北京市', 2013),
            ('北京市', 2012),
            ('北京市', 2011),
            ('北京市', 2010),
            ('北京市', 2009),
            ...
            ('重庆市', 2009),
            ('重庆市', 2008),
            ('重庆市', 2007),
            ('重庆市', 2006),
            ('重庆市', 2005),
            ('重庆市', 2004),
            ('重庆市', 2003),
            ('重庆市', 2002),
            ('重庆市', 2001),
            ('重庆市', 2000)],
           names=['省', '年份'], length=589)

##

In [ ]:
name = ['Beijing','Anhui', 'Fujian', 'Gansu','Guangdong', 'Guangxi', 'Guizhou',
        'Hainan', 'Hebei', 'Henan', 'Heilongjiang', 'Hubei', 'Hunan', 'Jilin',
        'Jiangsu', 'Jiangxi', 'Liaoning', 'Neimenggu', 'Ningxia', 'Qinghai', 
        'Shandong', 'Shanxi', 'Shaanxi', 'Shanghai', 'Sichuan', 'Tianjing',
        'Xizang', 'Xinjiang', 'Yunnan', 'Zhejiang', 'Chongqing']