## Python 基础

### 列表、元组操作

列表是我们最以后最常用的数据类型之一，通过列表可以对数据实现最方便的存储、修改等操作.

In [4]:
#定义列表
names = ['Alex',"Tenglan",'Eric']

>通过下标访问列表中的元素，下标从0开始计数

In [5]:
names[0]

'Alex'

In [6]:
names[2]

'Eric'

In [7]:
names[-1]

'Eric'

In [8]:
names[-2]

'Tenglan'

>切片:取多个元素

In [22]:
names = ["Alex","Tenglan","Eric","Rain","Tom","Amy"]

In [23]:
names[1:4]  #取下标1至下标4之间的数字，包括1，不包括4

['Tenglan', 'Eric', 'Rain']

In [24]:
names[1:-1] #取下标1至-1的值，不包括-1

['Tenglan', 'Eric', 'Rain', 'Tom']

In [25]:
names[0:3]

['Alex', 'Tenglan', 'Eric']

In [27]:
names[:3] #如果是从头开始取，0可以忽略，跟上句效果一样

['Alex', 'Tenglan', 'Eric']

In [28]:
names[3:] #如果想取最后一个，必须不能写-1，只能这么写

['Rain', 'Tom', 'Amy']

In [29]:
names[3:-1] #这样-1就不会被包含了

['Rain', 'Tom']

In [11]:
names[0::2] #后面的2是代表，每隔一个元素，就取一个

['Alex', 'Eric']

In [10]:
names[::2] #和上句效果一样

['Alex', 'Eric']

>追加

In [30]:
name = ['Alex', 'Tenglan', 'Eric', 'Rain', 'Tom', 'Amy']

In [31]:
names.append("我是新来的")
names

['Alex', 'Tenglan', 'Eric', 'Rain', 'Tom', 'Amy', '我是新来的']

>插入